# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mongodb+srv://mcorreias:mcorreias@airbnbcluster.fljvrzs.mongodb.net/test"
NEXTAUTH_SECRET="NEXTAUTH_SECRET"

GITHUB_ID=8c798b98950ada9aac9d
GITHUB_SECRET=b3f03f4b327e580b2c7172b16bb4b588404ecad4

GOOGLE_CLIENT_ID=531783785790-da4icojf70j0t4auotdfnk006u6faaan.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dakqyyzw4